# Gradle
.gradle/
build/
local.properties
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE
.idea/
*.iml
captures/

# Generated
app/release/
app/build/
app/src/main/assets/bds/

*.apk
*.aab